[project]
	description = SDK for B2G platform
[access "refs/*"]
	owner = group user/gasolin (gasolin)
[access "refs/for/refs/*"]
	read = group user/gasolin (gasolin)
	push = group user/gasolin (gasolin)
	label-Code-Review = -2..+2 group user/gasolin (gasolin)
	label-Verified = -1..+1 group user/gasolin (gasolin)
	rebase = group user/gasolin (gasolin)
	removeReviewer = group user/gasolin (gasolin)
	submit = group user/gasolin (gasolin)
[access "refs/heads/*"]
	read = group user/gasolin (gasolin)
	create = group user/gasolin (gasolin)
	push = +force group user/gasolin (gasolin)
	pushMerge = group user/gasolin (gasolin)
[access "refs/tags/*"]
	push = +force group user/gasolin (gasolin)
	pushTag = group user/gasolin (gasolin)
	pushSignedTag = group user/gasolin (gasolin)
